@keyframes rdLogoAnimation {
	48% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	52% {
		transform: rotate(0deg);
	}
}

.rd-logo-bar {
	height: 32px;
	background-color: var(--text-color);
	transition: all 0.3s ease-in-out;
	animation: rdLogoAnimation 60s ease-in-out infinite;
}
